/**
 * Site header
 */
.site-header {
    border-top: 2px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-dark;
    min-height: 56px;

    height: $header-height;
    background: url("../img/bg-5.jpg") scroll center center / cover transparent;
  
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    
    display: table-cell;
    height: $header-height;
    vertical-align: middle;

    &,
    &:visited {
        color: $nav-text-color;
    }

    .heading {
        letter-spacing: 2px;
        line-height: 82px;
        font-size: 90px;
        font-weight: 600;
        text-shadow: 0 0 10px #654;

        @include media-query($on-palm) {
            letter-spacing: 1px;
            line-height: 40px;
            font-size: 48px;
            font-weight: 600;
            text-shadow: 0 0 5px #654;

        }
    }
}

.site-nav {
    position: absolute;
    right: 0;

    line-height: 50px;
    background-color: rgba(0,0,0, 0.2);
    padding: 0 20px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $nav-text-color;
        line-height: $base-line-height;
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &.current{
            border-bottom: 4px solid $nav-text-color;
            padding-bottom: 9px; 
       }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #f9f9f9;
}

.footer-heading {
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 600;
}

.footer-subheading {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: $spacing-unit / 2;    
}


.footer-social {
    text-align: center;
}


.social-media-list {
    list-style: none;
    margin-left: 0;
    font-size: 30px;

    a, 
    a:visited {
        color: #828282;
        text-decoration: none;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit * 2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    a, 
    a:visited {
        text-decoration: none;
        color: $text-color;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-right: 5px;
}

.post-tag {
    font-size: 12px;
    margin: 10px 1px;
    background: #f1f1f1;
    padding: 5px;
}

.post-link {
    display: block;
    font-size: 42px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.disclaimer {
    font-size: 12px;
    color: $grey-color;
}
