@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Thin.woff2) format("woff2"), url(/static/fonts/PublicSans-Thin.woff) format("woff"), url(/static/fonts/PublicSans-Thin.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 200;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-ExtraLight.woff2) format("woff2"), url(/static/fonts/PublicSans-ExtraLight.woff) format("woff"), url(/static/fonts/PublicSans-ExtraLight.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Light.woff2) format("woff2"), url(/static/fonts/PublicSans-Light.woff) format("woff"), url(/static/fonts/PublicSans-Light.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Regular.woff2) format("woff2"), url(/static/fonts/PublicSans-Regular.woff) format("woff"), url(/static/fonts/PublicSans-Regular.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Medium.woff2) format("woff2"), url(/static/fonts/PublicSans-Medium.woff) format("woff"), url(/static/fonts/PublicSans-Medium.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-SemiBold.woff2) format("woff2"), url(/static/fonts/PublicSans-SemiBold.woff) format("woff"), url(/static/fonts/PublicSans-SemiBold.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Bold.woff2) format("woff2"), url(/static/fonts/PublicSans-Bold.woff) format("woff"), url(/static/fonts/PublicSans-Bold.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-ExtraBold.woff2) format("woff2"), url(/static/fonts/PublicSans-ExtraBold.woff) format("woff"), url(/static/fonts/PublicSans-ExtraBold.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Black.woff2) format("woff2"), url(/static/fonts/PublicSans-Black.woff) format("woff"), url(/static/fonts/PublicSans-Black.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 100;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-ThinItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-ThinItalic.woff) format("woff"), url(/static/fonts/PublicSans-ThinItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 200;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-ExtraLightItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-ExtraLightItalic.woff) format("woff"), url(/static/fonts/PublicSans-ExtraLightItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 300;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-LightItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-LightItalic.woff) format("woff"), url(/static/fonts/PublicSans-LightItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 400;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-Italic.woff2) format("woff2"), url(/static/fonts/PublicSans-Italic.woff) format("woff"), url(/static/fonts/PublicSans-Italic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-MediumItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-MediumItalic.woff) format("woff"), url(/static/fonts/PublicSans-MediumItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 600;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-SemiBoldItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-SemiBoldItalic.woff) format("woff"), url(/static/fonts/PublicSans-SemiBoldItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 700;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-BoldItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-BoldItalic.woff) format("woff"), url(/static/fonts/PublicSans-BoldItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 800;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-ExtraBoldItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-ExtraBoldItalic.woff) format("woff"), url(/static/fonts/PublicSans-ExtraBoldItalic.ttf) format("truetype")
  }
  
  @font-face {
    font-family: Public Sans;
    font-style: italic;
    font-weight: 900;
    font-display: fallback;
    src: url(/static/fonts/PublicSans-BlackItalic.woff2) format("woff2"), url(/static/fonts/PublicSans-BlackItalic.woff) format("woff"), url(/static/fonts/PublicSans-BlackItalic.ttf) format("truetype")
  }