<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.category }}">
    <header class="site-header">

      <div class="wrapper">
        {% include nav.html %}

        <div class="site-title">
          <h1 class="heading">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>      
          <h2 class="subheading">{{ page.description }}</h2>
        </div>
      </div>

    </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}

  </body>

</html>
