<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.category }}">
    <header class="site-header">

      <div class="wrapper">
        {% include nav.html %}

        <div class="site-title">
          <h1 class="heading">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>      
          <div class="post-header">
            <p>
              <span class="post-date">{{ page.date | date: "%B %-d %Y" }}</span>
              <span class="post-meta">{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
              {% for tag in page.tags %}
                <span class="post-tag">{{ tag }}</span>
              {% endfor %}
            </p>    
          </div>
        
        </div>
      </div>

    </header>

    <div class="page-content">
      <div class="wrapper">
        <div class="post">

          <article class="post-content">
            {{ content }}    
          </article>

        </div>

        <div class="disclaimer">{{ site.disclaimer }}</div>
        {% include social-post.html %}

        {% include comments.html %}

      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}

  </body>

</html>
